<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.squirrel.mynotes"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalNotes">
        <activity
            android:name=".NotesActivity"
            android:label="Notes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NoteDetailActivity"
            android:label="Make note">
        </activity>
        <activity
            android:name=".TrashActivity"
            android:label="Trash">
        </activity>
        <activity
            android:name=".ArchivesActivity"
            android:label="Archives">
        </activity>
        <activity
            android:name=".HelpFeedActivity"
            android:label="Help"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".GoogleDriveSelectionActivity"
            android:label="List">
        </activity>
        <activity
            android:name=".AppAuthentificationActivity"
            android:label="Photo selection"
            android:noHistory="true"
            android:parentActivityName=".NotesActivity">
        </activity>
        <activity
            android:name=".GoogleDriveDirectoryNameGetterActivity"
            android:label="Photo selection"
            android:noHistory="true"
            android:parentActivityName=".NotesActivity">
        </activity>
        <activity
            android:name=".DropboxPickerActivity"
            android:label="Dropbox selection">
        </activity>
        <activity
            android:name="com.dropbox.client2.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>
                <data android:scheme="db-edxtitjovipywri"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".AlarmReceiver"
            android:process=":remote"/>

        <provider
            android:name=".NotesContentProvider"
            android:authorities="com.squirrel.mynotes.provider"
            android:exported="true"
            android:readPermission="com.squirrel.mynotes.provider.READWRITE"
            android:writePermission="com.squirrel.mynotes.provider.READWRITE"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

    </application>

</manifest>
